body{
    /* background-image: linear-gradient(50deg,rgb(14, 43, 207), rgb(126, 81, 81),rgb(14, 43, 207)); */
    background: url(../images/Protruding-Squares.svg);
}    
h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{

}
section{
    background: url(../images/Large-Triangles.svg);
    border-radius: 10px;
    box-sizing: border-box;    
    margin-left: 200px;
    margin-right: 300px;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
}
h1{
    background: url(../images/Large-Triangles.svg);
    text-align: center;
    padding: 45px;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    font-size: 2.3em;
    color:white;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 30px;
    text-transform: uppercase;
}
h2{
    background-color: rgb(16, 129, 163);
    color:white;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 10px black;
    display: inline-block;
    border-radius: 10px 0px 10px 0px ;
    font-size: 26px;
    clear:both;
    padding: 10px;
    margin: 10px 10px;
}
p{
    color:white;
    text-indent: 2em;
    padding: 10px;
    font-size: 20px;
    font-family: garamond, serif;
    text-shadow: 1px 1px 3px black;
}
.pf{
    padding-bottom: 100px;
}
em{
    font-style: italic;
    font-size: 21px;
}
strong{
    font-weight: bold;
}
img{
    width: 300px;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    
}
aside{
    background-color: rgb(73, 41, 114);
    color:white;
    width: 15%;
    text-align: center;
    padding: 10px;
    float: right;
    clear: right;
    box-sizing: border-box;
    position: absolute;
    top: 300px;
    right: 0px;
    border-left: 10px solid black;
    border-bottom: 10px solid black;

}
ul, aside a{
    color:white;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.icons a{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-indent:-9999px;
}
.icons li{
    display: inline-block;
}
.iconli{
    background-image: url("../images/icon-linkedin.png");
    background-size: 40px;
    background-repeat: no-repeat;
}
.icongh{
    background-image: url("../images/icon-github.png");
    background-size: 40px;
    background-repeat: no-repeat;
}
main{
    float: left;
    text-align: justify;
    box-sizing: border-box;
    width: 85%;
}

footer{
    clear:both;
    position: fixed;
    bottom: 0px;
    background-color:rgba(16, 129, 163, .3);
    padding: 10px;
    width: 100%;
    color: black;
}